<html ng-app="cityApp">
    <head>
        <meta charset="utf-8"/>
        <!-- Angular and plugins for it -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>

        <!-- jQuery -->
        <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="js/app.js"></script>
        <style>
            .img-responsive{
                margin:auto;
                width: 75%;
            }
            .profile-pic-div{
                text-align: center;
            }
        </style>
        <title>City Election Guide | Diamondback</title>
    </head>
    <body ng-controller="main-ctlr">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="landing-page">
                </div>
            </div>
            <h2>Mayoral Candidates</h2>
            <div class="row">
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/chen.jpg" ng-click="getCandidateInfo('Tom Chen')"/>
                    <h3>Tom Chen</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/wojahn.jpg" ng-click="getCandidateInfo('Patrick Wojahn')"/>
                    <h3>Patrick Wojahn</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/malsawma.jpg" ng-click="getCandidateInfo('Zari Malsawma')"/>
                    <h3>Zari Malsawma</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/cook.jpg" ng-click="getCandidateInfo('Mary Cook')"/>
                    <h3>Mary Cook</h3>
                </div>
            </div>
            <h2>District 1</h2>
            <div class="row">
                <div class="col-md-3 profile-pic-div" >
                    <img class="img-responsive" src="img/debosky.jpg" ng-click="getCandidateInfo('Beth DeBosky')"/>
                    <h3>Beth DeBosky</h3>
                </div>
                <div class="col-md-3 profile-pic-div" >
                    <img class="img-responsive" src="img/gill.jpg" ng-click="getCandidateInfo('Christopher Gill')"/>
                    <h3>Christopher Gill</h3>
                </div>
                <div class="col-md-3 profile-pic-div" >
                    <img class="img-responsive" src="img/kabir.jpg" ng-click="getCandidateInfo('Fazlul Kabir')"/>
                    <h3>Fazlul Kabir</h3>
                </div>
                <div class="col-md-3 profile-pic-div" >
                    <img class="img-responsive" src="img/kennedy.jpg" ng-click="getCandidateInfo('Kate Kennedy')"/>
                    <h3>Kate Kennedy</h3>
                </div>
            </div>

            <h2>District 2</h2>
            <div class="row">
                <div class="col-md-3 profile-pic-div" >
                    <img class="img-responsive" src="img/blasberg.jpg" ng-click="getCandidateInfo('Daniel Blasberg')"/>
                    <h3>Daniel Blasberg</h3>
                </div>
                <div class="col-md-3 profile-pic-div" >
                    <img class="img-responsive" src="img/brennan.jpg" ng-click="getCandidateInfo('P.J. Brennan')"/>
                    <h3>P.J. Brennan</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/dennis.jpg" ng-click="getCandidateInfo('Monroe Dennis')"/>
                    <h3>Monroe Dennis</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/douglas.jpg" ng-click="getCandidateInfo('Richard Douglas')"/>
                    <h3>Richard Douglas</h3>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/tobin.jpg" ng-click="getCandidateInfo('Alex Tobin')"/>
                    <h3>Alex Tobin</h3>
                </div>
            </div>
            <h2>District 3</h2>
            <div class="row">
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/day.jpg" ng-click="getCandidateInfo('Robert Day')"/>
                    <h3>Robert Day</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/guijosa.jpg" ng-click="getCandidateInfo('Cindy Guijosa')"/>
                    <h3>Cindy Guijosa</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/miller.jpg" ng-click="getCandidateInfo('Zack Miller')"/>
                    <h3>Zack Miller</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/rigg.jpg" ng-click="getCandidateInfo('John Rigg')"/>
                    <h3>John Rigg</h3>
                </div>
            </div>

            <h2>District 4</h2>
            <div class="row">
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/gregory.jpg" ng-click="getCandidateInfo('Oscar Gregory')"/>
                    <h3>Oscar Gregory</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/hew.jpg" ng-click="getCandidateInfo('Alan Hew')"/>
                    <h3>Alan Hew</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/kujawa.jpg" ng-click="getCandidateInfo('Dustyn Kujawa')"/>
                    <h3>Dustyn Kujawa</h3>
                </div>
                <div class="col-md-3 profile-pic-div">
                    <img class="img-responsive" src="img/mitchell.jpg" ng-click="getCandidateInfo('Denise Mitchell')"/>
                    <h3>Denise Mitchell</h3>
                </div>
            </div>

        </div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Test Modal</button>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel">
          <div class="modal-dialog">
            <div class="modal-header">
                <h3>Task List</h3>
                </div>
            <div class="modal-body">
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
                </ul>
                <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    Data 1
                </div>
                <div class="tab-pane" id="tab2">
                	<p>Data 2.</p>
                </div>
                </div>
                </div>
           </div>
           <div class="modal-footer">
                 <a href="#" class="btn btn-primary" onclick="CloseTaskList();">Close</a>
           </div>
         </div>
        </div>


    </body>
</html>
